.cart {
    position: relative;

    display: flex;
    /* margin-top: 20px
; */

    font-family: "Koh Santepheap", cursive;
    height: 100vh;
    width: 100%;
    margin-top: 9rem;
    justify-content: space-around;
    padding: 0 2rem;
}
.table__cart {
    width: 100%;
    overflow-x: scroll;
}

.amount {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.total {
    /* display: flex; */
    margin: 5px;
    font-weight: bold;
    width: 30rem;
    height: 40vh;
    background: whitesmoke;
    border-radius: 16px;
    /* align-items: center; */
    padding: 3rem;
    margin-left: 5rem;
}
.cart table td {
    font-size: 12px;
}
.total h5 {
    font-size: 14px;
    text-align: center;
}
