.cart {
    position: relative;
    transform: scaleY(0.98);
    display: flex;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 80px;
    font-family: "Koh Santepheap", cursive;
}
.table__cart {
    width: 100%;
    overflow-x: scroll;
}
.cart table {
    margin: 50px;
}

.amount {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.total {
    /* display: flex; */
    margin: 5px;
    font-weight: bold;
    width: 20%;
    margin-top: 50px;
}
.cart table td {
    font-size: 12px;
}
.total h5 {
    font-size: 14px;
    text-align: left;
}
