.payment {
}
.paymentModal {
    position: fixed;
    top: 0;
    left: 0;
    background: #0008;
    z-index: 4;
    width: 100%;
    height: 100vh;
    overflow: auto;
    z-index: 9999999999;
}
.paymentModal .form_modal {
    max-width: 850px;
    width: 100%;
    background: white;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* display: flex; */
    transform: translate(-50%, -50%);
    overflow: scroll;
}
.payment_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    transform: translateY(-13px);
}
.payment_header span {
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
    transform: translateY(-5px);
}
#zoid-paypal-button-053dee6e0b > .zoid-outlet {
    width: 100% !important;
}
.product_payment table {
    margin: 0 !important;
}
.form-check-label:hover {
    color: rgb(26, 148, 255);
    font-weight: bold;
}
.form-check-label:focus {
    color: rgb(26, 148, 255);
    font-weight: bold;
}
