.promotion {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 45px;
    /* background: rgb(192, 155, 8); */
    color: white;
    -webkit-clip-path: polygon(100% 0%, 100% 49%, 100% 100%, 48% 77%, 0 99%, 0 0);
    clip-path: polygon(100% 0%, 100% 49%, 100% 100%, 48% 77%, 0 99%, 0 0);
    background: rgb(26, 148, 255);
    font-weight: 700;
}
.promotion_text {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.btn-outline-dark {
    transition: width 2s;
}
