.promotion {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 45px;
    background: rgb(192, 155, 8);
    color: white;
    clip-path: polygon(100% 0%, 100% 49%, 100% 100%, 48% 77%, 0 99%, 0 0);
}
.promotion_text {
    font-size: 12px;
    font-weight: 400;
}
