.detail {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}
.img-container {
    max-width: 486px;
    width: 100%;
    margin: 20px;
    min-width: 246px;
    height: 344px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.img-container:hover {
    background-size: 150%;
    border: 1px solid #ddd;
    cursor: zoom-in;
}
.box-detail {
    max-width: 500px;
    width: 100%;
    margin: 20px;
}
.box-detail h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;

    margin-bottom: 1rem;
}
.detail_promotion h3 {
    font-size: 1.3rem;
}
.box-detail .amount {
    justify-content: start !important;
}
.promotion_detail {
    cursor: pointer;
    padding: 5px 15px;
    border: 1px solid rgb(13, 92, 182);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(13, 92, 182);
    position: relative;
    margin: 8px 12px 0px 0px;
}
.promotion_detail::before {
    content: "";
    left: -6px;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: transparent rgb(13, 92, 182) rgb(13, 92, 182) transparent;
    border-image: initial;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    border-radius: 50%;
}
.promotion_detail::after {
    content: "";
    right: -6px;
    transform: rotate(135deg);
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: transparent rgb(13, 92, 182) rgb(13, 92, 182) transparent;
    border-image: initial;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    border-radius: 50%;
}
.thumb {
    display: flex;
    cursor: pointer;
}
.thumb img {
    width: 100px;
    height: 130px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 20px;
    object-fit: cover;
}
.detail p {
    margin-top: 10px;
}
.detail h3 {
    color: crimson;

    margin-bottom: 1rem;
}
.detail h6 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.addCart {
    display: flex;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 10px;
    background: #ddd;
    width: 200px;
    height: 35px;
    padding: 5px 5px;
    color: teal;
    text-align: center;
}
a {
    text-align: center;
}

.box__description h5 {
    text-align: left;
}
.action_store {
    display: flex;
    padding: 6px 9px;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgb(13, 92, 182);
    cursor: pointer;
    text-decoration: none;
}
.action_store span {
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: rgb(13, 92, 182);
    margin-left: 4px;
}
.action_store img {
    width: 15px;
    height: 15px;
}
.box__description {
    max-width: 1240px;
    width: 100%;
    background: whitesmoke;
    border-radius: 5px;
    padding: 1rem 3rem;
}

.des_cmt {
    margin-left: 2rem;
    background: #eee;
    padding: 1rem 2rem;
    border-radius: 20px;
}
.text-cmt::placeholder {
    font-size: 15px;
}
