.detail {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}
.img-container {
    max-width: 400px;
    width: 100%;
    margin: 20px;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.img-container:hover {
    background-size: 150%;
    border: 1px solid #ddd;
    cursor: zoom-in;
}
.box-detail {
    max-width: 500px;
    width: 100%;
    margin: 20px;
}
.box-detail h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;

    margin-bottom: 1rem;
}

.thumb {
    display: flex;
    cursor: pointer;
}
.thumb img {
    width: 100px;
    height: 80px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 20px;
}
.detail p {
    margin-top: 10px;
}
.detail h3 {
    color: crimson;

    margin-bottom: 1rem;
}
.detail h6 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.addCart {
    display: flex;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 10px;
    background: #ddd;
    width: 200px;
    height: 35px;
    padding: 5px 5px;
    color: teal;
    text-align: center;
}
a {
    text-align: center;
}
.box__description {
    margin: 2rem;
}
.box__description h5 {
    text-align: left;
}
