.login {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Koh Santepheap", cursive;
    border-radius: 5px;
    border: 1px solid #aaa;

    padding: 15px;
    color: white;
    background: black;
}
.my__account {
    padding: 10px;
    width: 100%;
    height: 100%;
}
.input {
    display: flex;
    justify-content: space-around;
}
.input input {
    width: 50%;
}
.my__account {
    display: flex;
    justify-content: space-around;
}
.info_account {
    text-align: left;
}
.info_account {
    font-weight: bold;
}

@media (max-width: 992px) {
    .my__account {
        flex-direction: column;
    }
    .btn_edit-info {
    }
}
