.login {
    position: absolute;
    top: 50%;
    width: 100%;
    /* height: 100%; */

    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    /* margin-top: 5rem
; */
    /* padding: 10
rem
; */
    padding: 5rem;
}
.my__account {
    padding: 10px;
    width: 100%;
    height: 100%;
}
.input {
    display: flex;
    justify-content: space-around;
}
.input input {
    width: 50%;
}
.my__account {
    display: flex;
    justify-content: space-around;
}
.info_account {
    text-align: left;
}
.info_account {
    font-weight: bold;
}
.input-profile-account {
    width: 50%;
}
.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #0009;
    z-index: 4;
    width: 100%;
    height: 100vh;
    overflow: auto;
    z-index: 9999999999;
    transition: all 0.5s linear;

    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_auth {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    width: 100%;
    background: white;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    height: 38rem;
    z-index: 9999999999;
    transition: all 0.7s linear;
    border-radius: 10px;
    z-index: 12;
    min-height: 40rem;
}
.modal_auth::before {
    content: "";
    position: absolute;
    /* background-image: url("https://salt.tikicdn.com/ts/upload/eb/f3/a3/25b2ccba8f33a5157f161b6a50f64a60.png");
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    height: 100%;
    opacity: 1;
    /* background-position: center; */
}
.close_auth {
    position: absolute;
    top: -19px;
    right: -14px;
    width: 1rem;
    height: 1rem;
    background: #ddd;
    /* margin: auto; */
    font-size: 2rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 1.5rem;
    color: white;
    font-weight: 700;
}
.close_auth span {
    cursor: pointer;
}
.info_avt {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 15px auto;
    border: 1px solid #ddd;
    cursor: pointer;
}
.info_avt img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.info_avt span {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    text-align: center;
    color: orange;
    transition: 0.3s ease-in-out;
    background: #fff5;
}
.info_avt:hover span {
    bottom: -15%;
}
table thead tr th {
    text-align: center;
}
table tbody tr td {
    text-align: center;
}
@media (max-width: 992px) {
    .my__account {
        flex-direction: column;
    }
    .btn_edit-info {
    }
}
