/* ------------------------------products---------------------- */
.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
    font-family: "Sigmar One", cursive;
}
.card__product {
    max-width: 250px;
    width: 100%;
    overflow: hidden;
    height: 450px;
    box-shadow: 0 0 5px #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}
.card__product img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    max-height: 200px;
    cursor: pointer;
    border-radius: 5px;
}
.card__product .box {
    margin: 15px 0;
}
.card__product .box a h4 {
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.card__product .box a {
    text-decoration: none;
}
.card__product .box a:hover {
    color: teal;
}

.card__product .box h5 {
    margin: 5px;
    color: crimson;
}
.card__product .box p {
    margin: 5px 0;
    color: teal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    height: 100px;
}
