/* ------------------------------products---------------------- */
.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    /* justify-content: space-around; */
}
.product_main {
    padding: 4rem;
}
/* @keyframes expand {
    0% {
        transform: translateX(1400px);
    }
    100% {
        transform: translateX(0px);
    }
} */
.card__product {
    max-width: 250px;
    width: 100%;
    overflow: hidden;
    height: 450px;
    box-shadow: 0 0 5px #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    position: relative;
}
.card__product .box button {
    width: 100% !important;
}
.card__product img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    max-height: 200px;
    cursor: pointer;
    border-radius: 5px;
}
.card__product .box {
    margin: 15px 0;
}
.card__product .box a h4 {
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.card__product .box a {
    text-decoration: none;
}
.card__product .box a:hover {
    color: teal;
}

.card__product .box h5 {
    margin: 5px;
    color: rgb(240, 108, 65);
    text-align: center;
}
.card__product .box p {
    margin: 5px 0;
    color: teal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    height: 50px;
    text-align: center;
}
.categories_main {
    width: 15%;
    height: 100%;
    background: #ccc;
    margin-right: 2rem;
}
/* -----------------------------------pagination---------------------------------- */
.pagination {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pagination a {
    padding: 4px;
    margin: 4px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.pagination a:hover {
    color: black;
    background-color: var(--color---1);
}
.paginationActive a {
    color: black !important;
    background-color: var(--color---1);
}
/* ----------------detail--------------------------------- */

.single img {
    width: 100%;
    object-fit: cover;
}
@media (max-width: 992px) {
}
