/* ------------------------------products---------------------- */
.product_page {
    width: 100%;
    height: 100%;
    padding-top: 8rem;
}
.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
}
.product_main {
    padding: 4rem;
}
/* @keyframes expand {
    0% {
        transform: translateX(1400px);
    }
    100% {
        transform: translateX(0px);
    }
} */
.card__product {
    max-width: 270px;
    width: 100%;
    overflow: hidden;
    height: 450px;
    box-shadow: 0 0 5px #ccc;
    padding: 10px;
    margin: 12px;
    border-radius: 8px;
    position: relative;
}
.card__product .box button {
    width: 100% !important;
}
.card__product img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    max-height: 200px;
    cursor: pointer;
    border-radius: 5px;
}
.card__product .box {
    margin: 15px 0;
}
.card__product .box a h5 {
    text-transform: uppercase;
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    height: 50px;
}
.card__product .box a {
    text-decoration: none;
}
.card__product .box a:hover {
    color: teal;
}

.card__product .box h5 {
    margin: 5px;
    color: rgb(255, 66, 78);
    text-align: center;
}
.card__product .box p {
    margin: 5px 0;
    color: black;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    height: 50px;
    text-align: center;
}
.categories_main {
    width: 15%;
    height: 100%;
    background: #ccc;
    margin-right: 2rem;
}
.banner_slide {
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
    height: 50vh;
    padding: 0 4rem;
}
.mySwiper {
    width: 100%;
    height: 100%;
}
.mySwiper1 {
    padding: 0 2rem;
    width: 100%;
    height: 100%;
}
.banner_slide {
    width: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.sort_product {
    width: 100%;
    height: 3rem;
    background: whitesmoke;
    padding: 1rem 4rem;
    border-radius: 10px;
}
.sort_product button {
    background: rgb(26, 148, 255, 70%);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
    text-align: center;
}
.sort_product button:hover {
    background: rgb(26, 148, 255);
    color: white;
    font-weight: bold;
}
.sort_product button:active {
    background: rgb(26, 148, 255);
    color: white;
    font-weight: bold;
}
.filter_product {
    height: 100%;
    width: 17rem;
    padding-top: 3rem;
    background: whitesmoke;
    /* padding-top: 3rem
; */
    margin-top: 2rem;
    padding: 1rem 1rem;
}
.filter_product .item_filter:hover {
    color: rgb(26, 148, 255);
    font-weight: bold;
}
.filter_product .item_filter:focus {
    color: rgb(26, 148, 255);
}
/* -----------------------------------pagination---------------------------------- */
.pagination {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8px;
}
.pagination a {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgb(26, 148, 255);
    color: white;
    cursor: pointer;
    text-decoration: none;
    background: rgb(26, 148, 255);
}
.pagination a:hover {
    color: white;
    background-color: rgb(26, 148, 255);
}
.paginationActive a {
    color: white !important;
    background-color: rgb(26, 148, 255);
}
.feture_products {
    width: 100%;
    height: 35rem;
    /* background: #ccc; */
    margin-top: 2rem;
    padding: 0 4rem;
}
/* ----------------detail--------------------------------- */

.single img {
    width: 100%;
    object-fit: cover;
}
@media (max-width: 992px) {
    .product_main {
        padding: 1rem;
    }
    .filter_product {
        width: 100% !important;
    }
}
