* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  width: 100%;
  background: rgb(26, 148, 255);
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form-control {
  border-radius: 10px;
  padding: 0.5rem;
}
.footer ul li {
  list-style: none;
  margin-right: 2rem;
}
.footer ul li img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-left: 5px;
}
@media (max-width: 775px) {
  .search_desktop {
    display: none;
  }
  .search_mobile {
    display: unset !important;
    color: white;
    font-weight: 700;
  }
  .login {
    padding: 25rem 0 0 0 !important;
  }
  .seller_form {
    flex-direction: column;
  }
  .seller_input {
    width: 100% !important;
  }
}
